* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página Inicial */

.pagina_inicial {
    background-image: url(images/imagem-fundo2.png);
}

header {
    background-color: #FFD859;
}

.navegacao {
    transition: 0.5s;
    text-align: center;
    padding: 1.5%;
    opacity: 0;
}

.navegacao:hover {
    text-align: center;
    background-color: #FFD859;
    opacity: 1;
    .links:link {
        transition: 0.3s;
        opacity: 1;
    }
    .links:active {
        transition: 0.3s;
        opacity: 1;
    }
    .links:visited {
        transition: 0.3s;
        opacity: 1;
    }
    .espacamento {
        transition: 0.3s;
        opacity: 1;
    }
    /*body {
       filter: brightness(50%); 
    }*/
    
    /* Imagem de fundo não muda */
}

.links:link {
    color: black;
    text-decoration: none;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.links:visited {
    color: black;
    text-decoration: none;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.links:hover {
    color: black;
    font-size: 150%;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium';
    opacity: 1;
}

.links:active {
    color: black;
    font-size: 150%;
    text-decoration: none;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.espacamento {
    display: inline;
    color: black;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

#instagram {
    float: inline-end;
    margin-top: 100px;
}

.p_instagram {
    float: inline-end;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 200px;
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}

.link_instagram {
    text-decoration: none;
}

.link_instagram:visited {
    color: white;
    text-decoration: none;
}

.link_instagram:hover {
    color: white;
    text-decoration: underline;
}

.link_instagram:active {
    color: white;
    text-decoration: none;
}

.botao_sobre {
    margin-top: 40%;
    margin-left: 837px;
    background-color: black;
    color: #FFD859;
    border-color: #FFD859;
    width: 250px;
    height: 60px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
    border-radius: 40px;
    border-width: 1px;
    transition: 0.5s;
}

.botao_sobre:hover {
    transition: 0.5s;
    background-color: #FFD859;
    border: none;
    color: black;
    cursor: pointer;
}

/* Agenda */

.agenda {
    background-image: url(images/imagem-fundo3.png);
}

/*
.video_fundo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
*/

.titulo {
    color: #FFD859;
    margin-left: 4%;
    margin-top: 1%;
    font-size: 70px;
    font-family:'Franklin Gothic Medium';
}

.evento {
    margin-left: 4%;
    margin-top: 3%;
    font-size: 35px;
    font-family:'Franklin Gothic Medium';
    color: #FFD859;
}

i {
    color: white;
    margin-left: 4%;
}

.local_data {
    display: inline;
    margin-left: 16px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium';
    color: white;
}

/* Discografia */

.discografia {
    background-image: url(images/imagem-fundo4.png);
}

.imagem_album {
    margin-left: 100px;
    width: 400px;
    border-radius: 30px;
}

.legenda_album {
    color: #FFD859;
    margin-top: 3%;
    margin-left: 100px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
}

#legenda_especial {
    font-size: 30px;
}

#imagem_especial {
    margin-top: 15px;
}

#legenda_especial2 {
    font-size: 30px;
}

#imagem_especial2 {
    margin-top: 15px;
}

.album1 {
    width: 30%;
    height: 300px;
    margin-left: 2%;
}

.album2 {
    float: right;
    width: 50%;
    height: 300px;
    margin-top: -325px;
    margin-right: 310px;
}

.album3 {
    float: right;
    width: 30%;
    height: 300px;
    margin-top: -310px;
    margin-right: 4%;
}

.album4 {
    width: 30%;
    height: 300px;
    margin-left: 2%;
    margin-top: 250px;
}

.album5 {
    float: right;
    width: 50%;
    height: 300px;
    margin-top: -335px;
    margin-right: 310px;
}

.album6 {
    float: right;
    width: 30%;
    height: 300px;
    margin-top: -320px;
    margin-right: 4%;
    margin-bottom: 200px;
}

/* Contato */

.contato {
    background-image: url(images/leandro-lorota-velho.png);
}

form {
    margin-top: 3%;
}

.nome {
    border-color: white;
    background-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin-left: 4%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.nome:focus {
    outline-color: #FFD859;
    transition: 0.5s;
}

.label_maior {
    color: #FFD859;
    margin-left: 4%;
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
}

.label_menor {
    color: white;
    margin-left: 4%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
}

.checkbox {
    margin-left: 8px;
    height: 20px;
    width: 20px;
}

.outro {
    border-color: white;
    background-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin-left: 8px;
    color: white;
    font-size: 25px;
    font-family:sans-serif;
}

.outro:focus {
    outline-color: #FFD859;
    transition: 0.5s;
}

/* Era caixa de texto apenas
.assunto {
    border-color: white;
    background-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin-left: 4%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.assunto:focus {
    outline-color: #FFD859;
    transition: 0.5s;
}
*/

.mensagem {
    border-color: white;
    background-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 1000px;
    height: 200px;
    margin-left: 4%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

.mensagem:focus {
    outline-color: #FFD859;
    transition: 0.5s;
}

.enviar {
    margin-left: 4%;
    background-color: black;
    color: #FFD859;
    border-color: #FFD859;
    width: 250px;
    height: 60px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
    border-radius: 40px;
    border-width: 1px;
    transition: 0.5s;
}

.enviar:hover {
    transition: 0.5s;
    background-color: #FFD859;
    border: none;
    color: black;
    cursor: pointer;
}

/* Sobre */

.sobre {
    background-color: black;
}

.img1_sobre {
    float: right;
    width: 30%;
    margin-top: 2%;
    margin-right: 4%;
    border-color: #FFD859;
    border-radius: 100px;
    border-style: solid;
    border-width: 10px;
}

.p_sobre {
    margin-left: 4%;
    color: white;
    float: left;
    font-size: 30px;
    width: 60%;
    font-family: 'Franklin Gothic Medium';
}
