* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página Inicial */

.pagina_inicial {
    background-image: url(images/imagem-fundo2.png);
}

header {
    background-color: #FFD859;
}

.navegacao {
    transition: 0.5s;
    text-align: center;
    padding: 1.5%;
    opacity: 0;
}

.navegacao:hover {
    text-align: center;
    background-color: #FFD859;
    opacity: 1;
    .links:link {
        transition: 0.3s;
        opacity: 1;
    }
    .links:active {
        transition: 0.3s;
        opacity: 1;
    }
    .links:visited {
        transition: 0.3s;
        opacity: 1;
    }
    .espacamento {
        transition: 0.3s;
        opacity: 1;
    }
    /*body {
       filter: brightness(50%); 
    }*/
    
    /* Imagem de fundo não muda */
}

.links:link {
    color: black;
    text-decoration: none;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.links:visited {
    color: black;
    text-decoration: none;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.links:hover {
    color: black;
    font-size: 150%;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium';
    opacity: 1;
}

.links:active {
    color: black;
    font-size: 150%;
    text-decoration: none;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.espacamento {
    display: inline;
    color: black;
    font-size: 150%;
    font-family:'Franklin Gothic Medium';
    opacity: 0;
}

.botao_sobre {
    margin-top: 40%;
    margin-left: 837px;
    background-color: black;
    color: white;
    border-color: white;
    width: 250px;
    height: 60px;
    font-size: 40px;
    font-family:'Franklin Gothic Medium';
    border-radius: 40px;
    border-width: 1px;
    transition: 0.5s;
}

.botao_sobre:hover {
    transition: 0.5s;
    background-color: #FFD859;
    border: none;
    color: black;
    cursor: pointer;
}

/* Agenda */

.video_fundo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.titulo_agenda {
    color: white;
    margin-left: 9%;
    margin-top: 1%;
    font-size: 70px;
    font-family:'Franklin Gothic Medium';
}
